@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: "open sans", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0s ease;
}

body.manha {
  background: linear-gradient(to bottom, #dfed1b, #db837d,#70c6ff); 
}

/* FAIXA 2: 10h05 até 13h00 */
body.tardeInicio {
  background: linear-gradient(to bottom, #3fb2ff,#ffd4a9,#f0d4ee); 
}

/* FAIXA 3: 13h05 até 17h50 */
body.tardeCheia {
  background: linear-gradient(to bottom,#6d9aee,#f9f278,#f7a979); 
}

/* FAIXA 4: 17h55 até 18h50 */
body.fimDeTarde {
  background: linear-gradient(to bottom, #870ef8, #ff854dd3, #fff537); 
}

/* FAIXA 5: 18h55 até 00h50 */
body.noite {
  background: linear-gradient(to bottom,#1e1547, #0b032e, #490847); 
}

/* FAIXA 6: 00h55 até 05h50 */
body.madrugada {
  background: linear-gradient(to bottom,#0f3171,#3f0c7a, #504842); 
}

.relogio{
    display: flex;
    align-items:end;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    border-top: 2px solid #ffffff2e;
    border-left: 2px solid #ffffff32;
    box-shadow: 5px 5px 12px #00000035;
    background: #ffffff25;
    border-radius: 15px;
    backdrop-filter: blur(4px);
    overflow: hidden;
    position: fixed;
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background: rgba(5, 5, 5, 0,9);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span{
    font-weight: border;
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.relogio span.tempo{
    font-size: 20px;
  
}

.frase{
    height: 300px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    position: fixed;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
 
button{
  margin-top: 25%;
  position: fixed;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  border-top: 2px solid #ffffff2e;
  border-left: 2px solid #ffffff32;
  box-shadow: 5px 5px 12px #00000035;
  background: #ffffff25;
  color: white;
  cursor: pointer;
  
  
}

.popup {
  display: none; /* começa escondido */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /* fundo escuro */
  justify-content: center;
  align-items: center;
}

.popup-conteudo {
  
  padding: 20px;
  border-radius: 10px;
  min-width: 200px;
  text-align: center;
  position: relative;
   border: none;
  border-top: 2px solid #ffffff2e;
  border-left: 2px solid #ffffff32;
  box-shadow: 5px 5px 12px #00000035;
  background: #ffffff25;
  color: white;
}

#btnFechar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
